.heroSlider .slick-arrow {
    display: none !important;
}

html {
    overflow-x: hidden;
}

.heroSliderOuter {
    position: relative;
}

.heroSliderIcon {
    position: absolute;
    z-index: 6;
    top: 40%;
    transform: translateY(-50%);
}

.heroSliderIcon .icons {
    color: white;
    margin-top: 10px;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroSliderIcon .icons:hover {
    background-color: var(--baseColor1);
}

.heroSliderFooter {
    display: flex;
    gap: 15px;
}

.heroSliderFooter a {
    display: inline-block;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.3rem;
    position: relative;
}

.heroSliderFooter a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroSliderFooter a:hover {
    background-color: white;
    color: var(--baseColor2);
}

.heroSliderFooter .icons {
    color: white;
    margin-top: 10px;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroSliderFooter .icons:hover {
    background-color: var(--baseColor1);
    color: white !important;
}

.heroSlider .slick-dots .slick-active button:before {
    content: "";
    width: 15px;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background-color: var(--baseColor1);
    border-radius: 50%;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.heroSlider .slick-dots li button:before {
    content: "";
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1 !important;
}

.heroSlider .slick-dots .slick-active button::after {
    content: "";
    width: 30px;
    height: 30px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1 !important;

    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    border: 2px solid white;
}

.heroSlider .slick-dots {
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* align-items: flex-end; */
    width: 38px;
    top: 30%;
    height: max-content;
    right: -40px;
}

.headerLogo {
    filter: drop-shadow(0px 7px 29px rgba(100, 100, 111, 0.2));
}

.navbar-nav {
    gap: 30px;
}

.languages {
    cursor: pointer !important;
}

.heroInner {
    text-align: center;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.heroSection {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/banner/homeBanner.png");
    padding-top: 120px;
    border-radius: 0 0 80px 80px;
    border-bottom: 15px solid var(--baseColor1);
}

.heroInner img {
    padding: 10px 0 10px 0;
    max-width: 950px;
}

.aboutInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.valueSection {
    text-align: center;
}

.curvedLayer {
    position: relative;
    background: linear-gradient(360deg,
            rgba(1, 27, 67, 1) 0%, rgba(0, 147, 215, 1) 100%);
}

.curvedLayer::before {
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    position: absolute;
    background-image: url("../images/banner/homeBanner1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.singleValue {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.singleValue img {
    filter: drop-shadow(0px 20px 15px rgba(0, 0, 0, 0.4));
    margin-bottom: 20px;
    width: 180px;
    border-radius: 50%;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
    /* Adding transition */
}

.singleValue img:hover {
    background-color: var(--baseColor1);
    border-radius: 50%;
}

.singleValue .fbLink img:hover {
    background-color: #0866ff;
}

.singleValue .whatsappLink img:hover {
    background-color: #00de0f;
}

.singleValue .instaLink img:hover {
    background-color: none;
    background: linear-gradient(0deg, #f9ce34, #ee2a7b, #6228d7);
}

.valueSectionInner {
    padding: 80px 0;
}

.valueSectionInner h2 {
    padding-bottom: 20px;
}

.brandCard {
    max-width: 340px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.brandCard .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tasteNuts {
    border-radius: 0 0 80px 80px;
    border-bottom: 15px solid var(--baseColor1);
}

.tasteNutsInner {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.connectSectionInner {
    background-image: url("../images/shape/abstractArt.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.footer {
    background-image: url("../images/banner/footerBanner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footerbottom {
    border-top: 1px solid rgb(141, 141, 141);
}

.newsletter_form {
    padding: 5px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    border: 3px solid white;
}

.redBorder {
    border: 3px solid red;
}

.newsletter_form input {
    border-radius: 50px;
    border: none;
    flex: 1;
    padding-left: 10px;
}

.newsletter_form input:focus-visible {
    outline: none;
}

.newsletter_form button {
    background-color: var(--baseColor1);
    color: white;
    border-radius: 50%;
    border: none;
    padding: 10px 15px 10px 15px;
}

.patternImg {
    opacity: 1;
    width: 100%;
    border-radius: 10px;
}

.headerVisible {
    background-color: transparent;
    position: relative;
    z-index: 5;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.fancybox__content {
    height: 100% !important;
    width: 700px !important;
    padding: 0 !important;
}

.headerVisible ul li a {
    color: white;
}

.headerVisible .dropdown-menu li a {
    color: black;
}

/*
.aboutInnerImg {
    position: relative;
    max-width: 560px;
}
*/
.aboutInnerImg {
    position: relative;
    max-width: 460px;
    display: flex;
    width: 100%;
    align-items: center;

}

.abouteItem {
    position: absolute;
    object-fit: contain;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.footerbottom a {
    color: #fff;
}

.footerbottom a:hover {
    color: var(--baseColor1);
}

.flexReverse {
    flex-direction: row-reverse !important;
    justify-content: flex-start;
}

.aboutItem1 {
    top: 40%;
    right: 10%;
    transform: translateY(-50%);
    animation-delay: 0s;
    animation-name: floating;
}

.aboutItem2 {
    bottom: -8%;
    right: 30%;
    width: 220px;
    transform: translateY(-50%);
    animation-delay: 1s;
    animation-name: floating1;
    rotate: 5deg;
    width: 180px;
}

.aboutItem3 {
    top: 10%;
    left: 30%;
    transform: translateY(-50%);
    animation-delay: 0.5s;
    animation-name: floating;
}

.aboutItem4 {
    top: 50%;
    left: 0;
    rotate: 10deg;
    transform: translateY(-50%);
    animation-delay: 0.3s;
    animation-name: floating;
    width: 150px;
    object-fit: contain;
}

.responsiveCenter {
    text-align: left;
}

@keyframes floating {
    from {
        transform: translateY(-50%);
    }

    65% {
        transform: translateY(-30%);
    }

    to {
        transform: translateY(-50%);
    }
}

@keyframes floating1 {
    from {
        transform: translateY(-50%);
    }

    65% {
        transform: translateY(-45%);
    }

    to {
        transform: translateY(-50%);
    }
}

.nutsImg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    left: 0;
}

.anchorHover:hover {
    color: #c5c5c4 !important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--baseColor1);
    background-color: var(--baseColor1);
    color: white;
}

.secondValues {
    border-radius: 0 0 80px 80px;
    border-bottom: 15px solid var(--baseColor1);
}

.ourVision {
    position: relative;

}

.ourVision::after {
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(../images/items/aboutImg2.png);
    top: -12px;
    right: 0;
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    background-size: 60% 105%;
}

.ourVisionInner {
    position: relative;
}

.ourVisionInner::before {
    content: '';
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: url(../images/shape/curvedLine.png);
    top: 141px;
    left: -100px;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 69% 41%;


    /* content: '';
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: url(../images/shape/curvedLine.png);
    top: 141px;
    left: 110px;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 65% 45%; */
}

.missionBtn1 {
    background: linear-gradient(360deg, rgba(1, 27, 67, 1) 0%, rgba(0, 147, 215, 1) 100%);
    padding: 10px 40px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    z-index: 4;
    box-shadow: 10px 10px 0px 1px var(--baseColor1);
    -webkit-box-shadow: 10px 10px 0px 1px var(--baseColor1);
    -moz-box-shadow: 10px 10px 0px 1px var(--baseColor1);
}

.ourVisionCont {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: start;

}

.flexReverse2 {
    flex-direction: row-reverse !important;
}

.aboutBanner {
    background-image: url(../images/banner/aboutBanner.png);
}

.brandBanner {
    background-image: url(../images/banner/brandBanner.png);
}

.contactBanner {
    background-image: url(../images/banner/contactBanner.png);
}

.activityBanner {
    background-image: url(../images/banner/activityBanner.png);
}

.footerQuickLinks {
    padding-left: 3rem;
}

.privacyPages {
    text-align: end !important;
}

.brandConnectImg {
    width: 150px;
    display: block;
    object-fit: contain;
}

.languageSwitcher::after {
    display: none !important;
}

@media (max-width: 992px) {
    .languageSwitcher svg {
        color: black;
        width: 25px;
        height: 25px;
    }

    .flexReverse2 {
        flex-direction: row !important;
    }

    .flexReverse {
        flex-direction: column !important;
        justify-content: flex-start;
        text-align: end;
    }

    .privacyPages {
        text-align: center !important;
    }

    .footerQuickLinks {
        padding-left: 0;
    }

    .aboutThirdPara {
        margin-top: 60px !important;
    }

    .aboutBanner2 {
        margin-top: 40px;
    }

    .nutsImg {
        bottom: -40px;
    }

    .heroSliderFooter {
        justify-content: center;
    }

    .heroSliderIcon {
        display: none;
    }

    .headerLogo {
        width: 130px;
    }

    .singleValue {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .brandCardOuter {
        display: flex;
        justify-content: center;
    }

    .headerVisible {
        background-color: white;
    }

    .headerVisible ul li a {
        color: black;
    }

    .navbar-nav {
        margin-top: 20px;
        gap: 20px;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: black;
    }
}


.sec-icon {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

.sec-icon::before {
    content: "";
    position: absolute;
    height: 1px;
    left: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333333;
    width: 50px;
}

.sec-icon::after {
    content: "";
    position: absolute;
    height: 1px;
    right: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333;
    width: 50px;
}

.advertisers-service-sec .col {
    padding: 0 1em 1em 1em;
    text-align: center;
}

.advertisers-service-sec .service-card {
    /* width: 100%; */
    height: 100%;
    padding: 1em 1.5em;
    border-radius: 5px;
    /* box-shadow: 0 0 35px rgba(0, 0, 0, 0.12); */
    border: 1px solid rgb(202, 202, 202);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #fff;

    position: absolute;
    top: 190px;
    max-height: 62%;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.activityImg {
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgb(202, 202, 202);
    /* padding: 10px; */
    height: 270px;
}

.advertisers-service-sec .service-card::after {
    content: "";
    width: 100%;
    height: 100%;
    /* background: linear-gradient(#008fd3b0, #50a702e0); */
    background-color: var(--baseColor1);
    position: absolute;
    left: 0%;
    top: -98%;
    z-index: -2;
    transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}

.advertisers-service-sec h3 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
    z-index: 3;
}

.advertisers-service-sec p {
    color: #575a7b;
    font-size: 15px;
    max-height: 140px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    z-index: 3;
    overflow-y: auto;
}

.advertisers-service-sec .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    z-index: 3;
}

.advertisers-service-sec .service-card:hover:after {
    top: 0%;
}

.service-card .icon-wrapper {
    background-color: #ffffff;
    color: var(--baseColor1);
}

.advertisers-service-sec .service-card:hover .icon-wrapper {
    color: var(--baseColor3);
}

.advertisers-service-sec .service-card:hover h3 {
    color: #ffffff;
}

.advertisers-service-sec .service-card:hover p {
    color: #f0f0f0;
}

.activityOuter {
    position: relative;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    height: 500px;
}


.activitieSlider .slide-arrow {
    position: absolute;
    background-color: white;
    top: 50%;
    margin-top: -15px;
}

.activitieSlider .prev-arrow {
    left: -40px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.activitieSlider .next-arrow {
    right: -40px;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.noNuts::before {
    display: none !important;
}

.activitiesSlider .slide-arrow {
    position: absolute;
    background-color: transparent;
    top: 50%;
    margin-top: -15px;
}

.activitiesSlider .slick-list {
    width: 90%;
    margin: 0 auto;
}

.galleryblock .next-arrow {
    right: -12px !important;
}

.galleryblock .prev-arrow {
    left: -12px !important;
    z-index: 4;
}

.activitiesSlider .prev-arrow {
    left: -40px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.activitiesSlider .next-arrow {
    right: -40px;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.secondBanner {
    padding-bottom: 120px;
    padding-top: 170px;
}

.secondBanner .heroSliderIcon {
    top: 55%;
}

.aboutBanner2 img {
    width: 100%;
}


.brandBlue {
    background: linear-gradient(360deg,
            rgba(1, 27, 67, 1) 0%,
            rgba(0, 147, 215, 1) 100%);
}

.brandGreen {
    background: linear-gradient(360deg,
            #397305 0%,
            #50a702 100%);
}

.brandBrown {
    background: linear-gradient(360deg,
            #6f2d04 0%,
            #af8048 100%);
}

.brandOrange {
    background: linear-gradient(360deg,
            #f1441c 0%,
            #f38926 100%);
}

.brandGold {
    background: linear-gradient(360deg,
            #714700 0%,
            #dac102 100%);
}

.brandRed {
    background: linear-gradient(360deg,
            #730603 0%,
            #dc3c01 100%);
}

.brandPurple {
    background: linear-gradient(360deg,
            #400011 0%,
            #db184e 100%);
}

.brandInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.brandInnerTwo img {
    max-width: 435px;
    width: 100%;
}

.brandSection {
    position: relative;

}

.hoverText:hover {
    color: rgb(202, 202, 202);
}

.brandSection::before {
    /* content: '';
    display: block;
    position: absolute;
    background-image: url(../images/items/brainNut.png);
    background-size: contain;
    width: 300px;
    height: 200px;
    z-index: 2;
    background-repeat: no-repeat;
    right: 10%;
    top: -169px; */
}

.brandSection1::before {

    background-image: url(../images/items/brainNut1.png);

}

/* .contactUsInner{

} */
.absoluteAttached {
    width: 20px;
    position: relative;
    height: 20px;
    border-radius: 50%;
    background-color: var(--baseColor1);
}

.absoluteAttached::before {
    content: '';
    position: absolute;
    bottom: -44px;
    width: 4px;
    background-color: var(--baseColor1);
    height: 123px;
    left: 50%;
    transform: translate(-50%, -50%);
}


.mapIframe {
    height: 430px;
    width: 100%;
}

.contactUsInner .card-body {
    padding: 50px 120px 40px 120px;
}

.contactUsInner .card {
    margin: 3rem;
}

.contactSection .col-lg-4>.d-flex {
    /* justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px; */

}

/*

.galleryblock {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 300px;
  }

  .galleryblock .item {
    flex-grow: 1;
    height: 300px;
    width: 50px;
    position: relative;
    transition: all 300ms ease-in-out;
    border-radius: 50px;

}
    .galleryblock .item:hover {
      flex-grow: 3;

    }
    */

.galleryblock .item img {
    width: 100%;
    padding: 10px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}

/* .galleryblock .item img:hover{
      transform: scale(2);
    } */

.rightPlaceholder::placeholder {
    text-align: right;
}

.ourVisionInner2 {
    position: relative;
}

.ourVisionInner2::before {
    background-size: 85% 43% !important;
}

.arabicOurVis.ourVisionInner::before {

    background-size: 85% 35%;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    background-color: var(--baseColor1);
    text-align: center;
    opacity: .25;
    border-radius: 50%;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.inlineContent strong,
.inlineContent p {
    display: inline;
}

.listStyles li {
    list-style: none;
    position: relative;
    padding-left: 30px;
}

.listStyles li:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: var(--baseColor1);
    left: 0;
    height: 16px;
    width: 16px;
    top: 5px;
}

ol li::marker {
    font-size: 28px;
    font-weight: bold;
}

.arabicStyle.listStyles li:before {

    left: 100%;

}
/* .arabicStyle.listStyle2 li:before {

    left: 100%;

} */
.listStyle2{
    direction: rtl;
}

.arabicStyle.listStyles li {

    padding-right: 30px;
}



@media (max-width: 1200px) {
    .aboutItem2 {
        bottom: -35%;
    }
}

@media (max-width: 992px) {
    .responsiveCenter {
        text-align: center;
    }

    .navbar-nav {

        margin-bottom: 20px;
    }

    .brandOuter:nth-of-type(even) .row {
        flex-direction: column-reverse;

    }

    .underLineAffect {
        color: black !important;
    }

    .brandOuter .row {
        row-gap: 40px;

    }

    .brandInner {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutItem2 {
        bottom: -15%;
    }

    .ourVision::after {
        display: none;
    }

    .ourVisionInner::before {
        display: none;
    }

    .contactUsInner .card-body {
        padding: 50px 40px 40px 40px;
    }

    .contactSection .col-lg-4>.d-flex {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;

    }
}

@media (max-width: 768px) {
    .slick-dotted.slick-slider {
        margin-bottom: 60px;
    }

    .activitieSlider .slick-arrow {
        display: none !important;
    }

    .heroSlider .slick-dots {
        flex-direction: row;
        width: max-content;
        height: 22px;
        top: 98%;
        left: 50%;
        transform: translateX(-50%);
    }

    .heroSection,
    .tasteNuts {
        border-radius: 0 0 40px 40px;
    }


    .ourVisionPeanuts img {
        width: 100%;
        height: auto;
    }

    .brandSection::before {
        display: none;
    }

    .aboutBanner2 img {
        margin-top: 50px;
        width: 100%;
    }
}

@media (max-width: 576px) {

    .advertisers-service-sec p {

        max-height: 114px;

    }
    .aboutItem2 {
        display: none;
    }

    .waterDropsBefore::before {
        display: none;
    }

    .waterDropsAfter::after {
        display: none;
    }

    .tasteNutsInner .mainBtn1 {
        margin-bottom: 10px;
    }

    .aboutItem4 {
        top: 65%;
    }

    .contactUsInner .card-body {
        padding: 50px 20px 40px 20px;
    }

    .contactUsInner .card {
        margin: 3rem 1rem;
    }

}
@media (max-width: 400px) {
    .captchaDiv {
        position: relative;
        height: 68px;
    }
    .cf-turnstile{
        transform: scaleX(0.8);
        width: 240px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    /* .captchaDiv iframe{
        width: 100% !important;
    } */
}
